@model BookViewModel

@if (Model.Switcher == true)
{
    <div class="row">
        <div class="col">
                <a asp-route-switcher="@false" asp-action="Index" type="submit" class="btn btn-primary float-right">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-grid-3x2-gap" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 4H2v2h2V4zm1 7V9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 5V9a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V4a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 4H7v2h2V4zm5 0h-2v2h2V4zM4 9H2v2h2V9zm5 0H7v2h2V9zm5 0h-2v2h2V9zm-3-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V4zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-2z" />
                    </svg>
                </a>
        </div>
    </div>
    <partial name="_BookIndexList" model="Model" />
}
else
{
    <div class="row">
        <div class="col">
                <a asp-route-switcher="@true" asp-action="Index" type="submit" class="btn btn-primary float-right">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </a>
        </div>
    </div>
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card" style="height:700px">
                    <img class="card-img-top d-none d-xl-block" style="height:380px" src="" alt="@book.Name" asp-append-version="true" />
                    <img class="card-img-top d-none d-lg-block d-xl-none" style="height:370px" src="" alt="@book.Name" asp-append-version="true" />
                    <img class="card-img-top d-none d-md-block d-lg-none d-xl-none" style="height:250px" src="" alt="@book.Name" asp-append-version="true" />
                    <div class="card-body">
                        <h5 class="card-title text-center">@book.Name</h5>
                        <p class="card-text">Первое издание: @book.Date.Year</p>
                        <p class="card-text">Автор: @book.Author</p>
                        <p class="card-text text-truncate">Описание: @book.Description</p>
                    </div>
                    <div class="card-footer">
                        <div class="row ">
                            <div class="col-xl-6 col-lg-12 text-lg-center">
                                <a asp-action="GetBook" asp-controller="Books" asp-route-Id="@book.Id" class="btn btn-primary" target="_blank">Скачать</a>
                            </div>
                            <div class="col-xl-6 col-lg-12 text-lg-center mt-lg-3 mt-xl-0">
                                <a asp-action="" asp-controller="" asp-route-Id="@book.Id" class="btn btn-primary" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
